
.parent-container {
    position: absolute;
    left: 10%;
    right: 10%;
}

.top-panel {
    display: flex;
    justify-content: space-evenly;
}

.email-holder {
    margin-left: auto;
    margin-right: 20px;
}

.email-column {
    width: 70%;
}

.dashboard {
    margin-right: 20px;
}

.adm {
    margin-right: 20px;
}

.modal-title {
    display: inline-block;
}

.modal {
    min-height: 100%;
}

textarea.form-control {
    min-height: 30vh;
}

table.table {
    table-layout: fixed;
}
table.table tr th, table.table tr td {
    border-color: #e9e9e9;
}
table.table th i {
    font-size: 13px;
    margin: 0 5px;
    cursor: pointer;
}
table.table th:last-child {
    width: 100px;
}
table.table td a {
    cursor: pointer;
    display: inline-block;
    margin: 0 5px;
    min-width: 24px;
}    
table.table td a.add {
    color: #27C46B;
}
table.table td a.edit {
    color: #FFC107;
}
table.table td a.delete {
    color: #E34724;
}
table.table td a.cancel {
    color: #E34724;
}
table.table td i {
    font-size: 19px;
}
table.table td a.add i {
    font-size: 24px;
    margin-right: -1px;
    position: relative;
    top: 3px;
}    
table.table td a.cancel i {
    font-size: 24px;
    margin-right: -1px;
    position: relative;
    top: 3px;
}    
table.table .form-control {
    height: 32px;
    line-height: 32px;
    box-shadow: none;
    border-radius: 2px;
}
table.table .form-control.error {
    border-color: #f50000;
}
table.table td .add {
    display: none;
}

table.table td .cancel {
    display: none;
}
